.wrapper {
  margin: 0 80px;
  margin-bottom: 200px;
}

.early_access {
  display: flex;
  justify-content: center;
  align-items: center;
}

.early_access_card {
  text-align: center;
  background-color: #21293C;
  max-width: 856px;
  padding: 20px;
  border-radius: 10px;
  padding: 50px 70px 40px 70px;
}

.early_access_card h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.early_access_card p {
  margin-bottom: 40px;
  color: white;
}

.input_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_button input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-right: 30px;
}

.input_button button {
  padding: 10px 20px;
  background-color: #41AFD0;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.input_button button:hover {

  background-color: #328bac;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    margin: 0 20px;
  }

  .early_access_card {
    text-align: center;
    background-color: #21293C;
    max-width: 100%;
    margin: 20px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
  }

  .input_button {
    display: flex;
    flex-direction: column;
  }

  .input_button input {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100%;
  }

  .input_button button {
    width: 100%;
  }


}